<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnam.al_sms"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cnam.al_sms.esclave_activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cnam.al_sms.esclave_activities.ConfigurationConnexionActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cnam.al_sms.esclave_activities.ConnexionEsclaveActivity"
            android:label="@string/title_activity_connexion_esclave" >
        </activity>
        <activity
            android:name="com.cnam.al_sms.maitre_activities.ConnexionMaitreActivity"
            android:label="@string/title_activity_connexion_maitre" >
        </activity>
        <activity
            android:name="com.cnam.al_sms.maitre_activities.SynchronisationActivity"
            android:label="@string/title_activity_synchronisation" >
        </activity>
        <activity
            android:name="com.cnam.al_sms.ConfigurationConnexionView"
            android:label="@string/title_activity_configuration_connexion_view" >
        </activity>
        <activity
            android:name="com.cnam.al_sms.Conversation_View"
            android:label="@string/title_activity_conversation__view" >
        </activity>
        <activity
            android:name="com.cnam.al_sms.ConversationActivity"
            android:label="@string/title_activity_conversation" >
        </activity>
    </application>

</manifest>